body {

    font-family: Arial,sans-serif;
    background-color: #0026ff;
}

.padre{
    display: flex;
    flex-wrap: 20;
}



.contenedor{
    width: px;
    /* . -top,botton 2.- right,left */
    margin: 70px auto;
    /* padin es la distancia del borde hacia adentro*/
    /* como solo es un valor se aplica para top,botton,right y left */
    padding: 40px; ;
    background-color: #ffffff;
}

h1 {
    position: absolute;
    top: 0%;
    left: 42.5%;
    text-align: center;

}

input{
    width: 100%;
    margin-top: 10px;
}

.boton-formulario{
   width: 100%;
   background-color: #c2b1b1;
   color: #000000;
   padding: 8px;
   margin-top: 7px;
   border: none;
}

.botones {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 0;
    background-color: #c2b1b1;
    color: #000000;

}

a{
    text-align: left;
    font-size: 30px;
}

.caja {
    width: 300px;
    border: 2px solid black;
    padding:10px ;
}

.fila{
    display: flex;
    justify-content: 
    space-between;
    margin:10px 0;
}

.cuadro {
    width: 100 px;
    height: 20px;
    border: 1px solid black;
}

.conteiner { width: px;
    /* . -top,botton 2.- right,left */
    margin: 70px auto;
    /* padin es la distancia del borde hacia adentro*/
    /* como solo es un valor se aplica para top,botton,right y left */
    padding: 40px; ;
    background-color: #ffffff;
}

.contenedor2 {width: px;
    /* . -top,botton 2.- right,left */
    margin: 70px auto;
    /* padin es la distancia del borde hacia adentro*/
    /* como solo es un valor se aplica para top,botton,right y left */
    padding: 40px; ;
    background-color: #ffffff;
}
