<!DOCTYPE html>

<html>

<head>

    <title>Inicio</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

</head>

<body>

    <div class="contenedor2">

        <h1>almacen</h1>

        <!-- formulario -->
        <form action="{{url_for('guardar')}}" method="POST">

            <legend>ingresa el producto aqui</legend>

            <input 
            type="text"
            placeholder="el producto"
            name="nombre"
            required>


            <legend>ingresa el precio aqui</legend>

            <input
            type="number"
            placeholder="El precio"
            name="precio"
            required>


            <!-- seleccion de categoria -->
            <legend>selecciona categoria</legend>

            <select name="categoria">

                <option value="bebida">Bebida</option>

                <option value="reposteria">REPOSTERIA</option>

            </select>


            <br><br>

            <!-- boton -->
            <button type="submit" class="botones">

                Agregar

            </button>

        </form>


        <br>

        <a href="{{url_for('supermarket')}}" class="btn-nav btn-right">

            Volver

        </a>

    </div>

</body>

</html>