<!DOCTYPE html>
<html>
  <head>
   <title>Inicio</title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  </head>

   <body>
       <div class="contenedor2">
          <h1>almacen</h1>
          <legend>ingresa el producto aqui</legend> 
          
          <input type="text" placeholder="Tu nombre">

          <legend>ingresa el precio aqui </legend> 
          
          <input type="text" placeholder="Tu nombre">
          <button class="boton-formulario">Aceptar</button> 
          
        
        </div>
   </body>
</html>
