<!DOCTYPE html>
<html>
  <head>
    <title>Área de compras </title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  </head>
<!--conteiner es nuestro entorno en el que se imprimira lo que deseemos comprar -->
  <body>
    <div class="conteiner">
    <h3>lista de objetos  </h3>
    <!--caja nos sirve  para crear el area en el que se escribira el producto -->
             <div class="caja"></div>      
              <!--fila es la separacion que tendran nuestros cajas -->
              <div class="fila">

              <div class="caja"></div>   
              </div>
             <div class="caja"></div>      
              
              <div class="fila">

              <div class="caja"></div>   
              </div>
             <div class="caja"></div>      
              
              <div class="fila">

              <div class="caja"></div>   
              </div>
             <div class="caja"></div>      
              
              <div class="fila">
                
              <div class="caja">0.16%</div>   
              
              </div>
                  
        

        <button type="submit" class="boton-formulario">comprar</button> 
       </div>
  </body>
</html>