<!DOCTYPE html>

<html>

<head>

    <title>area de compras</title>

    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

</head>

<body>

    <div class="conteiner">

        <h1>lista de compras</h1>


        <!-- recorremos los productos -->
        {% for producto in productos %}

            <div class="caja">

                <p>{{producto.nombre}}</p>

                <p>precio: ${{producto.precio}}</p>

            </div>

            <br>

        {% endfor %}


        <!-- resultados -->
        <div class="caja">

            <p>subtotal: ${{subtotal}}</p>

            <p>iva: ${{iva}}</p>

            <p>descuento: ${{descuento}}</p>

            <p>Total: ${{total}}</p>

        </div>


        <br>

        <a href="{{url_for('supermarket')}}">

            volver

        </a>

    </div>

</body>

</html>