<!DOCTYPE html>
<html>
 <head>
   <title>Super_market_el_Jisus_ </title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  </head>

   <body>
      <div class="padre">
         
               <div class="contenedor">
                  <h1>Super market </h1>
                  <img src="{{url_for('static', filename='image/manzana.jpg')}}">
                  <legend>manzanas </legend> 
                  <label>existencias: 39</label>
                  <button class="boton-formulario">Agregar </button> 
                  
                     <a href="{{url_for('comprar')}}">🛒</a>
               </div>
               
                  <div class="contenedor">
                  <img src="{{url_for('static', filename='image/platano.jpg')}}">
                  <legend>platano</legend> 
                  <label>existencias: 40</label>
                  <button class="boton-formulario">Agregar </button> 

               </div>

                  <div class="contenedor" >
                  <img src="{{url_for('static', filename='image/piña.jpg')}}">
                  <legend>piña</legend> 
                  <label>existencias: 12</label>
                  <button class="boton-formulario">Agregar </button> 
                  

               </div>
                  <div class="contenedor">
                  <img src="{{url_for('static', filename='image/pera.jpg')}}">
                  <legend>pera</legend> 
                  <label>existencias: 8</label>
                  <button class="boton-formulario">Agregar </button> 

               </div>
               
                  
               
                  
                  
         </div>
     </div>

   </body>

</html>