<!DOCTYPE html>
<html>
 <head>
   <title>Super_market_el_Jisus_ </title>
   <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
  </head>
<!--la clase padre nos funciona para agregar un flex para que
 las imagenes no salga una encima de la otra  -->
   <body>
      <!--esta parte sirve para que lso botones tengan su propia parte en la pagina y no se combienen en uno solo o estorbe el contenido de la misma-->
      <a href="{{url_for('agregar')}}" class="btn-nav btn-left">➕</a>
      <a href="{{url_for('comprar')}}" class="btn-nav btn-right">🛒</a>
      <div class="padre">
      <!--el contenedor es el entorno que tiene al rededor nuestro producto -->
               <div class="contenedor">
                  <h1>cafeteria la superior </h1>
                  <!--traemos una imagen traida desde la una carpeta llamada image en static-->
                  <img src="{{url_for('static', filename='image/mokka.jpg')}}">
                  <legend>Mokka (250ml)</legend> 
                  <label>precio = 50</label>
                  <p>Cantidad: <span id="contador">0</span></p>
                  <button class="boton-formulario">Agregar </button> 
                   
               </div>
               
                  <div class="contenedor">
                  <img src="{{url_for('static', filename='image/croassant.jpg')}}">
                  <legend>Croissant</legend> 
                  <label>precio = 25</label>
                  <p>Cantidad: <span id="contador">0</span></p>
                  <button class="boton-formulario"> Agregar </button> 

               </div>

                  <div class="contenedor" >
                  <img src="{{url_for('static', filename='image/americano.jpg')}}">
                  <legend>Americano (250ml)</legend> 
                  <label>precio = 60</label>
                  <p>Cantidad: <span id="contador">0</span></p>
                  <button class="boton-formulario">Agregar </button> 
                  

               </div>
                  <div class="contenedor">
                  <img src="{{url_for('static', filename='image/dona.jpg')}}">
                  <legend>Dona</legend> 
                  <label>precio = 20</label>
                  <p>Cantidad: <span id="contador">0</span></p>
                  <button class="boton-formulario">Agregar </button> 

               </div>
               
                  
               
                  
                  
         </div>
     </div>

   </body>

</html>
